*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/main/assets/model
app/src/main/assets/decoder.onnx
app/src/main/assets/duration_predictor.onnx
app/src/main/assets/flow.onnx
app/src/main/assets/phoneme_dict.json
app/src/main/assets/precomputed_latents.json
app/src/main/assets/silero_vad.onnx
app/src/main/assets/text_encoder.onnx
app/src/main/assets/tts_config.json
app/src/main/assets/vits-piper-vi-ngochuyen
.gradle/